@import url('https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";



h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
